body{
    background-color: #05152f;
    color: whitesmoke;
}
.main1{
    display: flex;
    justify-content: space-around;
}
.namee{
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
}
.homeb{
    height: 25px;
    width: 50px;
    background-color: #7ba435;
    border-radius: 10%;
    color: antiquewhite;
    border: none;
}
.dpdw{
    background-color: #05152f;
    color: antiquewhite;
    border: none;
}
.contactb{
    height: 30px;
    width: 100px;
    background-color: #7ba435;
    border-radius: 10%;
    color: antiquewhite;
    border: none;
}
