body{
    background-color: #05152f;
    color: whitesmoke;
}
.main1{
    display: flex;
    justify-content: space-around;
}
.namee{
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
}
.homeb{
    height: 30px;
    width: 50px;
    background-color: #7ba435;
    border-radius: 10%;
    color: antiquewhite;
    border: none;
}
.dpdw{
    background-color: #05152f;
    color: antiquewhite;
    border: none;
}
.contactb{
    height: 30px;
    width: 100px;
    background-color: #7ba435;
    border-radius: 10%;
    color: antiquewhite;
    border: none;
}
.rhom1{
    position: relative;
    left: 110px;
    height:750px;
    top: -400px;
    width: 10%;
    background-color: #79a33c;
    z-index: -10;
    opacity: 5%;
    transform: skewX(-10deg);
}
.rhom2{
    position: relative;
    top: -1000px;
    left: 10px;
    height: 500px;
    width: 10%;
    background-color: #79a33c;
    z-index: -15;
    opacity: 5%;
    transform: skewX(-10deg);
}